.formulario{
width: 500px;
position: relative;
left: 200px;
margin: auto;
margin-top: 40px;
padding: 25px;
box-shadow: 0 0 25px;
}
.titulo{
color: #1E56A8;
text-align: center;
font-size: 30px;
font-family: fantasy;
}
.input, .label, .submit{
display: black;
width:100%;
font-size: 1em;
border-radius: 60px,
}
.input{
padding: 10px;
font-size: 100px;
border: 1px solid rgba(0,0,0,.3);
margin-bottom: 10px;
background: rgba(0,0,0,.2);
}
.input:focus + .label{
margin-top: -160;
}
.submit{
background-color: #A82E1E;
border: none; 
border-radius: 25px;
color: white;
padding: 20px;
cursor: pointer;
}
.label{
padding: 15px;
font-family: fantasy;
color: #505F75;
}
.imagen{
position: relative;
    top: -650px; /* ajustar los valores para mover la imagen */
    left: -100px;
    width: 400px;
    height: 450px;
    border-radius: 10%;
    margin: 10%;
   
}
